*{
    color: #fff;
}
.bg{
     background: url(./new.png.jpg) no-repeat;
     width: 100%;
     height: 100vh;
}
.form-container{
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.75);
box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.75);
}